body {
    font-family: monospace;
}

ul {
    font-family: monospace;
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.light-theme {
  --bg: green;
  --fontColor: black;
  --btnBg: black;
  --btnFontColor: white;
}

.dark-theme {
  --bg: black;
  --fontColor: green;
  --btnBg: white;
  --btnFontColor: black;
}